  
*.iml
*.a
*.dll
*.dll.mdb
*.userprefs
*.sdf
*.class
*.apk
*.aab
*.log
.gradle
.gradle/
build/

/local.properties
/.idea/
.idea/
.idea
.DS_Store
/build
/captures
.externalNativeBuild
/session_analytics_to_send
workspace.xml
tasks.xml